<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.website.userMapper">
	<select id="getTime" resultType="string">
		select now()
	</select>
	<insert id="insertUser"
		parameterType="com.spring.website.model.UserVO">
		insert into user(id, pw) values (#{id},#{pw})
	</insert>
</mapper>